<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression" verbose="1">
    <test name="Regression">
        <classes>
            <class name="com.ilcarro.qa11.test.CreateAccountTest">
                <methods>
                    <exclude name="testSignUpWithoutPassword.*"/>
                </methods>
            </class>
            <class name="com.ilcarro.qa11.test.LoginTest"/>
        </classes>


    </test>


</suite>
